<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <%- include partials/title.ejs %>

      <!--File Name:about.ejs
    Name: Mehak Kaur.
    Student ID 301232188
    Date: 6 October 2022-->

      <!-- About me content -->

      <html>

      <head></head>

      <body>
        <div class="container" style="padding-top: 20px">
          <br /><br /><br />
          <img src="/Assets/images/passimage.JPG" height="340px" width="360px"
            style="position: absolute; left: 100px; border: 9px solid #000" /><br /><br />
          <p style="position: absolute; left: 600px">
            <strong>Name: Mehak kaur</strong>
          </p>
          <br />
          <p style="position: absolute; left: 600px">
            <strong>Student No.: 301232188</strong>
          </p>
          <br /><br />

          <p style="position: absolute; left: 600px">
            Hello!! I'm a third semester student at the Centennial college
            studying<br />
            Software Engineering Technician. I am from India, Delhi but currently I
            am living<br />
            in Scarborough, Canada. My hobbies are to travel around and meet new
            people.<br />
            <br /><br />
            Resume:
            <a href="https://drive.google.com/file/d/1CT7VuFKTp2kcvrp0x8gJ--4Ua7GgK7xD/view?usp=sharing"
              target="_blank">Click Here to open my Resume</a>
          </p>
        </div>
      </body>

      </html>
      <%- include partials/bottom_nav.ejs %>
        <%- include partials/footer.ejs %>