<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!--
    Name : Mehak kaur 
    student No.: 301232188
    Page: error.ejs
    Date: 6 october, 2022
-->

<!-- Error page. -->
<div class="container">
 <h1><%= message %></h1>
 <h2><%= error.status %></h2>
 <pre><%= error.stack %></pre>
</div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>