<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!--File Name:index.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 6 October 2022-->

    <!--Main content-->
    <div class="align-center">
      <main class="container">
        <div class="jumbotron">
          <h1 class="display-1">Welcome to the <%= title %> page</h1>
        </div>
        <div class="container">
          <h2>Heyy!! I am Mehak Kaur and this is my portfolio assignment</h3><br><br> <br>
            <h2> MISSION STATEMENT</h2>
            <h5>Enable the IT studens to assess a set of complex tasks, including
              interdisciplinary learning and capabilities,
              with examples of different types of student work.</h5>
            <h5>Click this button to know more.</h5>
        </div>

        <!-- Page navigation buttons -->
        <div style="margin:20px 0 ;" class="container">
          <a href="/about"><button type="button" class="btn btn-primary">About Me</button></a>
          <a href="/projects"><button type="button" class="btn btn-light">Projects</button></a>
          <a href="/services"><button type="button" class="btn btn-success">Services</button></a>
          <a href="/contact"><button type="button" class="btn btn-warning">Contact Me</button></a>
        </div>
    </div>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>