   <!--
    File Name:projects.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 6 October, 2022
  -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/title.ejs %>

  <!--Projects content.-->
  <div class="container">
    <h2><br><strong>MY PREVIOUS PROJECTS</strong></h2>
  </div>

  <div class="container"  style="overflow: scroll">
    <table class="GeneratedTable" style="width: 1100px; height: 450px;" >
      <tbody>
        <thead>
          <tr>
          <th><strong>IMAGES</strong></th>
          <th><strong>DESCRIPTION</strong></th>
          </tr>
          </thead>
      <tr>
      <td style="width: 331.578125px;">&nbsp;<img style="position: absolute; left: 100px" src="Assets/images/pythonimg.jpeg" width="200px">&nbsp;</td>
      <td style="width: 390.421875px;" >
      <p>&nbsp;<strong>Snake and ladder game</strong></p>
      <p>Developed board game using python programming to make it easier for distant people to play together.</p>
      <p>Role: Designing&nbsp;</p>
      </td>
      </tr>
      <tr>
      <td style="width: 331.578125px;"><img style="position: absolute; left: 100px" src="Assets/images/project2.jpg" width="200px">&nbsp;</td>
      <td style="width: 390.421875px;">
      <div>
      <div><strong>Auto Clicker</strong></div><br>
      <div>
      <div>
      <div>Designed, documented and implemented the clicking tool that lets you click spontaneously without the need to touch the mouse.</div><br>
      <div>Role: designing</div>
      </div>
      </div>
      </div>
      </td>
      </tr>
      </tbody>
      </table>
  </div>
<div style="height:100px ;"></div>
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>