   <!--
    File Name:services.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 20 October, 2022
  -->

<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>
    <%- include partials/title.ejs %>

      <!-- Services content. -->
      <div class="container">
        <h2>Table with services offer</h2>
      </div>
      <div class="container" style="overflow: scroll; margin:auto">
        <table class="GeneratedTable" style="height: 500px;">
          <thead>
            <tr>
              <th><strong>IMAGES</strong></th>
              <th><strong>DESCRIPTION</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><br><img style="height: 150px; width: 200px;" class="myimg" src="/Assets/images/pythonimg.jpeg"
                  alt="Python Logo"></td>
              <td><strong>General Programming in Python</strong></td>
            </tr>
            <tr>
              <td><img class="myimg" style="height: 150px; width: 150px;" src="/Assets/images/winmacos.png"
                  alt="Windows Logo"></td>
              <td><strong>Assistance with Operating system like MacOS and windows</strong></td>
            </tr>
            <tr>
              <td><img class="myimg" src="/Assets/images/service3.jpg" alt="Windows Logo"></td>
              <td><strong>Database development </strong></td>
            </tr>
            <tr>
              <td><img class="myimg" src="/Assets/images/service4.jpg" alt="Windows Logo"></td>
              <td><strong>Data Entry </strong></td>
            </tr>


          </tbody>
        </table><br> <br> <br>
      </div>

      <%- include partials/bottom_nav.ejs %>
        <%- include partials/footer.ejs %>