<!-- LOGIN PAGE -->
<!--
    File Name:login.ejs
    Name: Mehak kaur 
    Student ID 301232188
    Date 20 October, 2022
  -->
<%- include ../partials/header.ejs %>
  <%- include ../partials/main_nav.ejs %>
      <div class="align-center">
        <% if(errorMessage){%>
          <div class="form-error-message">
            <p>
              <%=errorMessage%>
            </p>
          </div>
          <%}%>

            <div class="login-container">
              <div class="flex-login-container">
                <div class="login-form">
                  <form action="/users/login" method="POST">
                    <h1>Login</h1>
                    <input type="text" name="username" id="username" placeholder="username"><br>
                    <input type="password" name="password" id="password" placeholder="password">
                    <div>
                      <button type="submit">Login</button>
                    </div>
                  </form>
                </div>
                <div class="login-graphics">
                  <img src="/Assets/images/At work.jpg" alt="">
                </div>
              </div>
            </div>
      </div>


    <%- include ../partials/bottom_nav.ejs %>

      <%- include ../partials/footer.ejs %>